.main-section
  margin-top: 100px

.left-side
  flex: 1
  height: 100%

.left-side .header
  font-size: 72px
  font-weight: 600
  text-transform: capitalize

.left-side .description
  font-size: 18px
  font-weight: normal
  margin-top: 10px

.started
  padding: 20px
  margin-top: 20px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  background-color: var(--blue)
  width: 95%
  border-radius: 900px
  transition: all .3s

.started:hover
  background-color: var(--navy)

.started .button-text
  margin-left: 20px
  margin-right: 20px
  font-size: 32px
  text-transform: uppercase
  font-weight: 600
  color: var(--text-color)

.started .button-icon
  width: 35px

.right-side
  flex: 1
