/* DEFAULT CONFIG */
:root {
  --font-normal:  18px normal 'Outfit', sans-serif;
  --font-heading-1: 72px 600 'Outfit', san-serif;
  --font-big-button: 32px uppercase 'Outfit',
    sans-serif;
  --font-title: 32px 600 'Outfit',
    san-serif;
  --background-color: #2B2B2B;
  --background-color-2: #3B3B3B;
  --label-text-color: #858584;
  --text-color: #ffffff;
  --purple: #A259FF;
  --blue: #377DF7;
  --red: #FF7262;
  --green: #A3F7BF;
  --yellow: #FFD95A;
  --navy: #146C94;
  --pink: #EF2F88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: var(--font-normal);
  color: var(--text-color);
  overflow-x: hidden;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1065px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: url(./assets/main_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}